<!-- header -->
<div class="container-fluid header header__bg padding--6">
  <div class="container header__logo">
    <img src="../../assets/images/logo.png" alt="logo" />
  </div>
</div>
<div class="header__user">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler ml-auto"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa fa-bars toggle-icon font__sz--32" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="container user border__r ">
        <div class="row align--center">
          <div class="col-xl-8 col-lg-7 col-md-5 col-sm-3"></div>
          <div class="col-xl-4 col-lg-5 col-md-7 col-sm-9">
            <div class="row d--flex align--center">
              <div class="col-5 d--flex align--center">
                <div class="user__avatar border--circle d--flex ml-auto">
                  <img
                    class="account__avatar__url  margin--auto"
                    src="../../assets/images/user-icon.png"
                    alt=""
                  />
                </div>
                <a href="" class="user__login font__w--400 font__sz--16"
                  >Login</a
                >
              </div>
              <div class="col-7 user__left d--flex align--center">
                <div class="user__account d--flex align--center">
                  <div
                    class="user__account__currency user__text font__sz--12 font__w--500"
                  >
                    aud
                  </div>
                  <div class="user__text font__sz--24 font__w--700 mr-3">
                    1500.00
                  </div>
                  <div class="user__cart  border__r--3 d--flex">
                    <img
                      src="../../assets/images/shopping-cart.png"
                      alt=""
                      class="user__cart__icon margin--auto"
                    />
                    <div
                      class="user__counter font__sz--16 font__w--700 border--circle d--flex"
                    >
                      <div class="counter__number margin--auto">2</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
