<div class="container-fluid powered__by--mb">
  <div class="container powered__by ">
    <div class="ml-auto powered__by__font font__sz--18 font__w--400">
      Powered by
    </div>
    <img src="../../assets/images/p-logo.png" alt="" />
  </div>
</div>
<div class="container-fluid footer__bg">
  <div class="container footer--web footer__bg--fix">
    <div class=" row footer">
      <div class="col-md-9">
        <div class="row footer__pd">
          <div class="col-md-4">
            <div class="footer__title ">Languages</div>
            <div class="footer__content">
              <p>General Information</p>
              <p>Arabic</p>
              <p>Chinese</p>
              <p>General Information</p>
              <p>General Information</p>
              <p>General Information</p>
            </div>
          </div>
          <div class="col-md-4 border--left">
            <div class="footer__title">Our sites</div>
            <div class="footer__content"></div>
          </div>
          <div class="col-md-4 border--left">
            <div class="footer__title">Services</div>
            <div class="footer__content">
              <p>General Information</p>
              <p>General Information</p>
              <p>General Information</p>
              <p>General Information</p>
              <p>General Information</p>
              <p>General Information</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 footer__bg--green footer--wrap">
        <div class="footer__title">Contact us</div>
        <div class="footer__content"></div>
      </div>
    </div>
    <div
      class="row footer footer__bg--fix  footer__nav d-flex flex-row-reverse"
    >
      <div class="col-md-3  footer__bg--green">
        <div class="row">
          <div class="col-6 pd-left">
            <div class="row">
              <p class="footer__nav__follow ">Follow us</p>
              <div class="footer__social">
                <div class="circle-wrap">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </div>
                <div class="circle-wrap">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </div>
                <div class="circle-wrap">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="footer__logo">
              <img src="../../assets/images/logo.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 footer__pd--lb ">
        <div class="footer__nav__link">
          <a href="">Accessibility</a> <a href="">Privacy</a>
          <a href="">Our promise</a> <a href="">Careers</a>
          <a href="">Contact us</a> <a href="">Contact us</a>
          <a href="">Employee</a> <a href="">Login</a>
        </div>
        <p>
          <i class="fa fa-copyright" aria-hidden="true"></i
          ><span class="copy-right">Copy Rights</span>
        </p>
      </div>
    </div>
  </div>
</div>
