$font-montserrat: "Montserrat", sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;

$purple-color: #992e98;
$grey-color: #eaeaea;
$grey-light-color: #b7b7b7;
$grey-dark-color: #717070;
$black-light-color: #979797;
$gray-color: #afafaf;
$yellow-color: #cbdd59;
$green-color: #00a651;
$blue-color: #006ff8;
$pink-color: #ed3e84;
$green-light-color: #2ecd73;
$green-dark-color: #3fba74;
$green-very-light-color: #80d4a3;
$white-dark-color: #fffefe;
$black-color: #373737;
$login-bg-color: #eff8fd;
$login-input-bg-color: #e7eff5;

// font
$font-montserrat: "Montserrat", sans-serif;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
