<div class="booking--details">

  <div class="details-section">

    <div class="mmc_flex--container">
      <div class="mmc_flex__item left">
        <div class="mmc_flex--container">
          <p class="font__large">Duis faucibus nec justo eu ornare. Donec sagittis nunc in leo pellentesque placerat.
            In
            maximus ullamcorper
            massa pharetra venenatis. Etiam lobortis vitae libero non consectetur. Nulla eget gravida sapien. Phasellus
            ut purus vel quam sagittis sollicitudin in at metus. Aenean vitae elit et erat fermentum rhoncus. In at
            massa
            consequat, tincidunt dolor ut, mollis ligula.</p>

          <p class="font__large">In cursus laoreet ante mollis imperdiet. Vivamus condimentum, lorem id porta iaculis,
            tellus erat laoreet
            enim, a vestibulum odio lacus sit amet magna. Vestibulum molestie mauris arcu, tempus feugiat arcu dictum
            a... <a href="">Read more</a></p>
        </div>
        <div class="mmc_flex--container facility-list">
          <div class="font__xlarge font__bold title">Amenities of Wonga Park</div>
          <div class="items--wrapper">
            <ul class="list-item">
              <li class="font__normal">Free Wireless Internet</li>
              <li class="font__normal">Free Parking</li>
              <li class="font__normal">Housekeeping</li>
              <li class="font__normal">Towels</li>
              <li class="font__normal">Complimentary Toiletries</li>
              <li class="font__normal">Complimentary Breakfast</li>
              <li class="font__normal">Television Set</li>
              <li class="font__normal">Refrigerator</li>
              <li class="font__normal">Free Coffee</li>
              <li class="font__normal">Swimming Pool</li>
            </ul>
          </div>
        </div>

        <div class="mmc_flex--containe doc-sec">
          <div class="font__xlarge font__bold title">Documents</div>
          <div class="doc-container">
            <div class="mmc_flex--container">
              <div class="mmc_flex__item">
                <i class="material-icons">
                  file_copy
                </i>
              </div>
              <div class="mmc_flex__item">
                <div>Facility Facts Sheet.doc</div>
                <div>3.8 MB</div>
              </div>
              <div class="mmc_flex__item">
                <i class="material-icons">
                  cloud_download
                </i>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="mmc_flex__item">
        <div id="googleMap" style="background-color:burlywood;"></div>
        <div class="contact-wrapper">
          <div class="contact-wrapper--inner">
            <div class="font__small">+61 (0) 22 34 4356</div>
            <div class="font__xsmall --email">info@wongaoark.com</div>
            <br>
            <div class="font__large">Wonga Park LPO</div>
            <div class="font__small">323a Yarra Road,
              WONGA PARK, VIC, 3115</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>