@import "../../sass/helpers/functions";
@import "../../sass/helpers/mixins";
@import "../../sass/helpers/variables";
@import "../../sass/base/color";

.login {
  padding: 60px 0;
  color: white;
  @include font-size();
  &__welcome {
    width: 100%;
    // background: url(../../assets/images/signup-bg.jpg) no-repeat center;
    // background-color: #006ff8;
    background: linear-gradient(-241deg, #2388f0 0%, #00698f 100%);
    background-size: cover;
    border-radius: 10px 0 0 10px;
    padding: 120px 0;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
    z-index: 1;
  }
  // &__text-middle {
  //   margin: 0 auto;
  // }
  &__register {
    padding: 45px 0 55px;
    font-weight: 400;
    line-height: 1.2;
    @include font-size;
  }
  &__left-sec {
    @include padding(0, 15, 0, 15);
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  &__right-sec {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  &__center {
    display: flex;
    justify-content: center;
  }
  &__welcome-text {
    @include font-size(33);
  }
  &__signin {
    background: $color-login-bg;
    border-radius: 0 10px 10px 0;
    padding: 65px 0 20px;
  }
  &__signin-text {
    @include font-size(33);
  }
  &__title {
    color: #00698f;
    text-transform: uppercase;
  }
  &__sub {
    padding: 35px 0 25px;
    color: $color-text;
  }
  &__name,
  &__password {
    width: 100%;
    background: $color-login-input-bg;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    img {
      width: 25px;
      height: 25px;
      margin-right: 20px;
    }
  }

  &__input {
    vertical-align: bottom;
    height: 25px;
    min-width: 80%;
    border: none;
    background: none;
    font-size: 14px;

    &::placeholder {
      font-size: 16px;
      font-weight: 500;
    }
    color: black;
    &:focus {
      outline-color: $color-login-input-bg;
    }
  }
  &__btn {
    border: none;
    color: white;
    text-transform: uppercase;
    &--signup {
      background: none;
      margin: 0;
    }
  }
  &__submit {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  &__forgot {
    color: black;
    border-bottom: 1px solid black;
    &:hover {
      text-decoration: none;
      color: $blue-color;
      border-bottom: 1px solid $blue-color;
    }
  }
  &__bg {
    border-radius: 0 10px 10px 0;
    background: $color-login-bg;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.35);
  }
}
.text-center {
  text-align: center;
}
.sigup--mobile {
  display: none;
}

@media screen and (max-width: 576px) {
  .login {
    padding-top: 80px;
    &__welcome {
      display: none;
    }
    &__bg {
      background: none;
    }
  }
  .sigup--mobile {
    display: block;
    padding-top: 160px;
    padding-bottom: 90px;
    color: $color-text-dark;
    &--link {
      color: $color-text-link;
    }
  }
}

// test
.bg-bubbles {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;

  li {
    position: absolute;
    list-style: none;
    background-color: #ffffff;
    opacity: 0.1;
    display: block;
    width: 40px;
    height: 40px;
    background-color: fade(white, 15%);
    bottom: -160px;

    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;

    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;

    &:nth-child(1) {
      left: 10%;
    }

    &:nth-child(2) {
      left: 20%;

      width: 80px;
      height: 80px;

      animation-delay: 2s;
      animation-duration: 17s;
    }

    &:nth-child(3) {
      left: 25%;
      animation-delay: 4s;
    }

    &:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;

      animation-duration: 22s;

      background-color: fade(white, 25%);
    }

    &:nth-child(5) {
      left: 70%;
    }

    &:nth-child(6) {
      left: 80%;
      width: 120px;
      height: 120px;

      animation-delay: 3s;
      background-color: fade(white, 20%);
    }

    &:nth-child(7) {
      left: 32%;
      width: 160px;
      height: 160px;

      animation-delay: 7s;
    }

    &:nth-child(8) {
      left: 55%;
      width: 20px;
      height: 20px;

      animation-delay: 15s;
      animation-duration: 40s;
    }

    &:nth-child(9) {
      left: 25%;
      width: 10px;
      height: 10px;

      animation-delay: 2s;
      animation-duration: 40s;
      background-color: fade(white, 30%);
    }

    &:nth-child(10) {
      left: 90%;
      width: 160px;
      height: 160px;

      animation-delay: 11s;
    }
  }
}

@-webkit-keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-850px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-850px) rotate(600deg);
  }
}
