@import "../components/buttons";
@import "../helpers/mixins";
.mmc_ {
  &payment {
    padding: 20px 0;
    margin: 50px auto;
    background-color: #fff;
    @include font-size(16);
    .flex-column {
      padding: 20px;
      flex-direction: column;
    }
    .main-row {
      @include padding-all(20);
    }
    .mat-form-field {
      display: block;
    }
    .val-sec {
      @include padding-left(10);
    }
    .btn-section {
      margin: auto;

      //   width: 100%;
    }
  }
}
