<div class="login">
  <div class="login__wrap row">
    <div class="col-md-5 login__welcome">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="text-center login__font ">
            <div class="login__font--upper">welcome</div>
            <div>
              <p
                class="text-center login__register login__font login__font--sub"
              >
                Register with us to submit your Booking Enquiry!
              </p>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
      <div class="login__center">
        <button class="btn login__btn--signup">sign up</button>
      </div>
    </div>
    <div class="col-md-7 login__signin">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <p class="text-center login__title login__font">sign in</p>
          <p class="text-center login__sub">Sign in with email</p>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfLogin">
            <div class="login__name">
              <img src="../../assets/images/email-icon.svg" alt="" />
              <input
                type="mail"
                class="login__input"
                placeholder="Email"
                formControlName="email"
              />
            </div>
            <div class="login__password">
              <img src="../../assets/images/lock-icon.svg" alt="" />
              <input
                type="password"
                class="login__input"
                placeholder="Password"
                formControlName="password"
              />
            </div>
            <div class="login__center">
              <button class="btn login__submit">sign in</button>
            </div>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="login__center">
        <a href="" class="text-center login__forgot">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>
