<div class="login">
  <div class="login__wrap row">
    <div class="col-md-5 login__welcome light-on-dark">
      <!-- <div class="row"> -->
      <!-- <div class="col-md-6"> -->
      <div class="login__center login__left-sec">
        <div class="font__upper login__welcome-text">welcome</div>
        <div>
          <p class="text-center login__register">
            Register with us to submit your Booking Enquiry!
          </p>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
      <div class="login__center">
        <button class="btn login__btn--signup btn--light font__upper font__large font__regular ">
          sign up
        </button>
      </div>
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-md-7 login__bg">
      <div class="container login__signin dark-on-light">
        <!-- <div class="row"> -->
        <!-- <div class="col-md-2 col-1"></div> -->
        <div class="login__right-sec">
          <p class="text-center login__title login__signin-text">
            sign in
          </p>
          <p class="text-center login__sub font__sz--16 font__w--400">
            Sign in with email
          </p>
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfLogin">
            <div class="login__name">
              <img src="../../assets/images/email-icon.svg" alt="" />
              <input type="mail" class="login__input font__normal" placeholder="Email" formControlName="email" />
            </div>
            <div class="login__password">
              <img src="../../assets/images/lock-icon.svg" alt="" />
              <input type="password" class="login__input font__normal" placeholder="Password" formControlName="password" />
            </div>
            <div class="login__center">
              <button class="btn login__submit font__large font__regular font__upper">
                sign in
              </button>
            </div>
          </form>
        </div>
        <!-- <div class="col-1 col-md-2"></div> -->
        <!-- </div> -->
        <div class="login__center">
          <a routerLink="/forgot-password" class="text-center login__forgot">Forgot your
            password?</a>
        </div>
        <div class="sigup--mobile text-center">
          Don't have an account?
          <a href="" class="sigup--mobile__link font__upper font__large font__regular">sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>