<app-header></app-header>
<!-- <app-search></app-search>
<div class="body-search">
     <div class="container">


       <div class="mmc_flex--container count-cage ">
           <div class="mmc_flex__item p75">234 facilities <span>found.</span> </div>
           <div class="mmc_flex__item p25">2</div>

       </div>

 -->

<router-outlet></router-outlet>
<!-- <div class="powered__by--mb">
    <div class="powered__by ">
        <div class="ml-auto powered__by__font font__sz--18 font__w--400">
            Powered by
        </div>
        <img src="../../assets/images/p-logo.png" alt="" />
    </div>
</div> -->

<!-- </div>
</div> -->
<div class="powered__by--mb">
    <div class="powered__by ">
        <div class="ml-auto powered__by__font font__sz--18 font__w--400">
            Powered by
        </div>
        <img src="../../assets/images/p-logo.png" alt="" />
    </div>
</div>

<app-footer></app-footer>