.btn {
  height: 60px;
  width: 281px;
  background: linear-gradient(-241deg, #2388f0 0%, #00698f 100%);
  border-radius: 30px;
  color: white;
  &--light {
    border: 1px solid white;
    color: white;
  }
}
