.container{

  @include respond-to("x-small") {
    min-width:300px ;
  }
  @include respond-to("small") {
    min-width:700px ;
  }
  @include respond-to("medium") {
    min-width:1000px ;
  }
  @include respond-to("large") {
    min-width:1100px ;
  }
  @include respond-to("x-large") {
    min-width:1300px ;
  }
  @include respond-to("xx-large") {
    min-width:1900px ;
  }
}


.body-search{
  background-color: #eee;
  padding: 20px 0px;
}