<div class="forgot-password">
  <div class="  login">
    <div class="login__wrap row">
      <div class="col-md-5 login__welcome d--flex">
        <img
          class="margin--auto"
          src="../../assets/images/logo-big.png"
          alt=""
        />
      </div>
      <div class="col-md-7 login__bg">
        <div class="container login__signin">
          <div class="row">
            <div class="col-md-2 col-1"></div>
            <div class="col-md-8 col-10">
              <p class="text-center login__title font__sz--33 font__w--400">
                password <span class="font__w--600">recovery</span>
              </p>
              <p class="text-center login__sub font__sz--16 font__w--500">
                Enter your email below, and we'll send you a Password
              </p>
              <form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfLogin">
                <div class="login__name">
                  <img src="../../assets/images/email-icon.svg" alt="" />
                  <input
                    type="mail"
                    class="login__input"
                    placeholder="Email Address"
                    formControlName="email"
                  />
                </div>
                <div
                  class="login__password font__sz--16 font__w--500 d--flex check-user"
                >
                  <input type="checkbox" formControlName="checkUser" />
                  <p>I'm not a Robat</p>
                  <img src="../../assets/images/reset-icon.png" alt="" />
                </div>
                <div class="login__center">
                  <button
                    class="btn login__submit font__upper font__sz--16 font__w--500"
                  >
                    Send
                  </button>
                </div>
                <div class="text-center font__sz--16 font__w--500 confirm">
                  Confirmation message
                </div>
              </form>
            </div>
            <div class=" col-md-2 col-1"></div>
          </div>
          <div class="login__center login__return">
            <a routerLink="/">
              <img src="../../assets/images/return-icon.png" alt="" />
            </a>
            <span class="text-center font__sz--16 font__w--500"
              >Return to login</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
