<div class="forgot-password">
  <div class="  login">
    <div class="login__wrap row">
      <div class="col-md-5 login__welcome d--flex">
        <img class="margin--auto" src="../../assets/images/logo-big.png" alt="" />
      </div>
      <div class="col-md-7 login__bg">
        <div class="container login__signin">
          <div class="row">
            <!-- <div class="col-md-2 col-1"></div> -->
            <!-- <div class="col-md-8 col-10"> -->
            <p class="text-center login__title font__h3 font__regular">
              password <span class="font__semibold">recovery</span>
            </p>
            <p class="text-center login__sub font__large font__medium">
              Enter your email below, and we'll send you a Password
            </p>
            <form novalidate (ngSubmit)="onSubmit()" [formGroup]="rfLogin">
              <div class="login__name">
                <img src="../../assets/images/email-icon.svg" alt="" />
                <input type="mail" class="login__input" placeholder="Email Address" formControlName="email" />
              </div>
              <div class="login__password font__sz--16 font__w--500 d--flex check-user">
                <input type="checkbox" formControlName="checkUser" />
                <p>I'm not a Robat</p>
                <img src="../../assets/images/reset-icon.png" alt="" />
              </div>
              <div class="login__center">
                <button class="btn login__submit font__upper font__large font_medium">
                  Send
                </button>
              </div>
              <div class="text-center font__large font__medium confirm">
                Confirmation message
              </div>
            </form>
            <!-- </div> -->
            <!-- <div class=" col-md-2 col-1"></div> -->
          </div>
          <div class="login__center login__return">
            <a routerLink="/">
              <img src="../../assets/images/return-icon.png" alt="" />
            </a>
            <span class="text-center font__large font__medium">Return to login</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback"
    data-expired-callback="expiredRecaptchaCallback"></div>
  <input class="form-control d-none" data-recaptcha="true" required data-error="Please complete the Captcha">
  <div class="help-block with-errors"></div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="validator.js"></script>
<script src="contact.js"></script>