<div class="container">
  <div class="main_search">
    <div class="mmc_flex--container">
      <div class="mmc_flex__item--inherit input_cage">

        <mat-form-field class="example-full-width remove_underline">
          <input type="tel" matInput placeholder="" value="Search Venue, Facility or Location" class="mat-font--change search-input">
        </mat-form-field>
      </div>
      <div class="mmc_flex__item filter_cage">

        <div class="mmc_flex--container">
          <div class="mmc_flex__item--inherit  pax">

            <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Pax" value="10">
              </mat-form-field>



            </form>


          </div>


          <div class="mmc_flex__item--inherit date">


            <mat-form-field class="remove_underline">
              <input matInput [matDatepicker]="picker" placeholder="Date" [value]="Date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


          </div>
          <div class="mmc_flex__item--inherit time">
            <!--time picker -->
            <!--<mat-form-field class="remove_underline">-->
            <!--<input matInput [matDatepicker]="picker" placeholder="Date" [value]="Date">-->
            <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
            <!--<mat-datepicker #picker></mat-datepicker>-->
            <!--</mat-form-field>-->
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Time" value="10">
              <mat-icon [matMenuTriggerFor]="menu" matSuffix>access_time</mat-icon>
            </mat-form-field>
            <mat-menu #menu="matMenu" class="time-popup" [overlapTrigger]="false">
              <div class="mmc_flex--container" (click)="$event.stopPropagation();">
                <div class="mmc_flex__item">
                  <div class="mmc_flex--container">
                    <div class="mmc_flex__item clock">
                      <i class="material-icons">
                        access_time
                      </i>
                    </div>
                    <div class="mmc_flex__item">
                      <mat-form-field [color]="options.value.color">
                        <input matInput type="number" placeholder="START TIME" formControlName="fontSize" min="10">
                        <mat-error *ngIf="options.get('fontSize')?.invalid">Min size: 10px</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
                <div class="mmc_flex__item">
                  <div class="mmc_flex--container">
                    <div class="mmc_flex__item clock">
                      <i class="material-icons">
                        access_time
                      </i>
                    </div>
                    <div class="mmc_flex__item">
                      <mat-form-field [color]="options.value.color">
                        <input matInput type="number" placeholder="END TIME" formControlName="fontSize" min="10">
                        <mat-error *ngIf="options.get('fontSize')?.invalid">Min size: 10px</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mmc_flex--container btn-content">
                <div class="btn__card main mmc_flex__item--vcenter">
                  APPLY
                </div>
              </div>
            </mat-menu>

          </div>


          <div class="mmc_flex__item--inherit btn--cage">
            <div class="mmc_flex--container">
              <div class="mmc_flex__item--inherit mmc_flex__item--vcenter btn--search">
                <i class="material-icons">
                  search
                </i>
                <span class="btn-text">Search</span>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</div>